*{
  background: red;
  margin: 0;
  padding: 0;
}
.block{
  border: 3px  solid  #000;
  width: 56px;
  margin-top: 13px;
}
.up{
  position: absolute;
  margin-top: 25px;
  width: 90%;
  height: 30%;
  background: white;
}
.first{
  position: absolute;
  margin-top: 25px;
  width: 25%;
  height: 25%;



}
